/* Estilos visuales heredados para <h1> anidados */

section h1 {
  font-size: 1.5em;
  margin-block: 0.83em;
}
section section h1 {
  font-size: 1.17em;
  margin-block: 1em;
}
section section section h1 {
  font-size: 1em;
  margin-block: 1.33em;
}
section section section section h1 {
  font-size: 0.83em;
  margin-block: 1.67em;
}
section section section section section h1 {
  font-size: 0.67em;
  margin-block: 2.33em;
}
